body {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(239, 241, 242, 1);
    color: rgb(115, 120, 122);
    max-width: 1024px;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #4a4a4a;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

ul {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
}

span {
    color: rgb(115, 120, 122);
    font-size: 18px;
}

.page-header {
    padding: 1rem;
}

.nav-top li {
    letter-spacing: 1px;
    list-style: none;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    border: 2px solid rgba(239, 241, 242, 0.652);
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 5px 0;
}

.nav-top li:hover {
    background-color: rgb(177, 202, 202);
}

main {
    padding: 1rem;
}

section {
    padding: 40px 0;
}

.about-section {
    padding: 10px 0;
}

.about-section-text {
    text-align: center;
}

.about-section-image {
    width: 80%;
    margin: auto;
}

.portfolio-section {
    background-color: white;
    padding: 1rem;
}

.portfolio-section h2 {
    text-transform: uppercase;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-card {
    padding-bottom: 20px;
}

.portfolio-card h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.portfolio-card img {
    width: 100%;
}

.contact-info {
    padding: 8px 0;
}

.contact-info a {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 800;
    color: rgb(115, 120, 122);
}

.contact-info a:hover {
    color: blue;
}

.page-footer {
    border-top: 1px solid rgb(218, 211, 211);
    display: flex;
    margin: 1rem;
    padding-top: 1rem;
    border-top: 1px solid rgb(218, 211, 211);
    justify-content: space-between;
    align-items: center;
}

.page-footer h2 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.nav-bottom {
    display: inline-flex;
    justify-content: space-between;
}

.nav-bottom li {
    letter-spacing: 1px;
    list-style: none;
    color: black;
}

.nav-bottom a {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.nav-bottom li:not(:first-child) {
    display: none;
}

.page-footer h2 {
    font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
    .nav-top ul {
        display: inline-flex;
    }

    .nav-top li {
        border: none;
        background-color: rgba(239, 241, 242, 0.652);
        padding: 0 15px;
    }

    .nav-top li:hover {
        background-color: rgba(239, 241, 242, 0.652);
    }

    .about-section {
        display: flex;
        flex-direction: row-reverse;
    }

    .about-section-text {
        flex: 1;
        text-align: left;
    }

    .about-section-image {
        width: 30%;
        margin: 0;
        margin-left: 1rem;
    }

    .portfolio-card {
        width: calc(50% - 1rem);
        margin: .5rem;
    }

    .nav-bottom li + li {
        margin-left: 1rem;
    }

    .nav-bottom li:first-child {
        display: none;
    }

    .nav-bottom li:not(:first-child) {
        display: inline-flex;
    }

    .page-footer h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-section-image {
        width: 45%;
    }

    .portfolio-card {
        width: calc(33.3% - 1rem);
        margin: .5rem;
    }
}